.card{
  width: 99%;
  margin: 20px 0px;
}


.cartBtn{                        
    font-size:15px;
    margin-top:20px;
    background-color:#da8d8d;
    color:white;
    width: 100%;
    height: 5vh;
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;  
    border: none;
    cursor: pointer;              
}

.builderPage{
  margin: auto;
  width: 60%;
  border: 3px solid #7b846e;
  padding: 10px;
}

.builderBtn{
  padding: 0.5em;
  background-color: #eedb6b;
  height: 7vh;
  border: none;
  cursor: pointer;
}

.xbtn{
  padding: 0.5em;
  background-color: #727272;
  color: #fff;
  height: 7vh;
  width: 10vh;
  border: none;
  cursor: pointer;
}