.itemBtn{
    background-color:#dad8d8;
    color:#000000;
    width: 100%;
    height: 5vh;
    padding: 2px 5px;
    font-weight: 400;
    border: none;
    cursor: pointer;              
}
.itemBtn:hover{
  background-color:#6b6b6b;
}

.logout{
  margin: 5px;
  background:#1f1f1f;
  border:none;
  color: red;
  font-size: 20px;
  cursor: pointer;

}


.manu_item a{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.layout{
  background-color: #1f1f1f;
  height: 12vh;
}

.pcbuilderBtn{
 height: 5vh;
 padding: 0.2em;
 background-color: #ffffff;
 border: none;
 color: #000;
 cursor: pointer;
}

.loginBtn{
 margin: 0px 30px;
 background:#1f1f1f;
 border:none;
 color: white;
 font-size: 20px;
 cursor: pointer;
}

/* footer start */
.line{
  border: 1px solid #da8d8d;
}


.socialIcons {
  font-size: 28px;
  margin: 15px 3px;
  color: #dbdbdb;
  cursor: pointer;
}
/* footer  end */



@media only screen and (max-width: 600px) {
  .manu_item a{
  font-size: 10px;
}

.layout{
  background-color: #1f1f1f;
  height: 20vh;
}

.logout{
  font-size: 13px;
}
}


@media only screen and (max-width: 768px) {
  .manu_item a{
  font-size: 10px;
}

.layout{
  background-color: #1f1f1f;
  height: 24vh;
}

.logout{
  font-size: 13px;
}
}