.manu_item a{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.layout{
  background-color: #1f1f1f;
  height: 12vh;
}
.list{
 padding: 0.5em;
 background-color: #ffffff;
 border: none;
 color: #000;
}
.line{
  border: 1px solid #da8d8d;
}

.social_icons a{
  font-size: 28px;
  margin: 15px 3px;
  color: #dbdbdb;
}

.card{
  width: 99%;
  margin: 20px 0px;
}

.builderBtn{
  padding: 0.5em;
  background-color: #eedb6b;
  height: 7vh;
  border: none;
  cursor: pointer;
}
